<div class="masthead clearfix">
  <div class="inner">
    <h4><a href="/" class="masthead-brand">Adam Prusse Development</a></h4>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>