<main role="main" class="inner cover">
  <h1 class="cover-heading">Adam Prusse Development</h1>
  <p class="lead">Kick back and I'll program it for you.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
</p>
</main>